$class-prefix-search-bar: 'ygm-search-bar';

.#{$class-prefix-search-bar} {
  --height: 32px;
  --padding-left: 8px;
  --background: #fff;
  --search-background: #f7f8fa;
  --border-radius: 6px;
  --placeholder-color: #808080;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 16px;
  background-color: var(--background);

  &-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    padding-left: 12px;
    background-color: var(--search-background);
    border-radius: 4px;

    &-icon {
      flex: none;
      color: #4d4d4d;
      font-size: 16px;
    }

    &-input {
    }
  }
}
