@import '../../styles/variable.scss';

.ygm-button {
  --base-button-padding: 7px 12px;
  --small-button-padding: 3px 0;
  --middle-button-padding: var(--base-button-padding);
  --large-button-padding: 11px 0;

  color: var(--ygm-color-text);
  background-color: var(--ygm-color-background);
  font-size: var(--ygm-font-size-l);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: var(--base-button-padding);
  margin: 0;
  line-height: 1.4;
  text-align: center;
  border-radius: var(--ygm-radius-xs);
  user-select: none;
  border: 1px solid var(--ygm-color-border);
  color: var(--ygm-color-white);

  &-default {
    background-color: var(--ygm-color-background);
    border-color: var(--ygm-color-border);
    color: var(--ygm-color-text);
  }

  &-primary {
    border-color: var(--ygm-color-primary);
    background-color: var(--ygm-color-primary);
  }

  &-success {
    border-color: var(--ygm-color-success);
    background-color: var(--ygm-color-success);
  }

  &-danger {
    border-color: var(--ygm-color-danger);
    background-color: var(--ygm-color-danger);
  }

  &-warning {
    border-color: var(--ygm-color-warning);
    background-color: var(--ygm-color-warning);
  }

  &-small {
    padding: var(--small-button-padding);
    font-size: var(--ygm-font-size-m);
  }

  &-middle {
    padding: var(--middle-button-padding);
  }

  &-large {
    padding: var(--large-button-padding);
    font-size: var(--ygm-font-size-xl);
  }
}
