$class-prefix-button: 'ygm-button';

.#{$class-prefix-button} {
  --base-button-padding: 7px 12px;
  --small-button-padding: 3px 12px;
  --middle-button-padding: var(--base-button-padding);
  --large-button-padding: 11px 12px;

  --color: var(--ygm-color-white);
  --text-color: var(--ygm-color-text);
  --background-color: var(--ygm-color-background);
  --border-color: var(--ygm-color-border);
  --border-width: 1px;

  color: var(--text-color);
  background-color: var(--background-color);
  font-size: var(--ygm-font-size-l);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: var(--base-button-padding);
  margin: 0;
  line-height: 1.4;
  text-align: center;
  border-radius: var(--ygm-radius-xs);
  user-select: none;
  border: var(--border-width) solid var(--border-color);

  &-block {
    display: block;
    width: 100%;
  }

  &-default {
    &.#{$class-prefix-button}-fill-outline {
      --background-color: transparent;
      --border-color: var(--ygm-color-text);
    }

    &.#{$class-prefix-button}-fill-none {
      --background-color: transparent;
      --border-width: 0px;
    }
  }

  &:not(&-default) {
    --text-color: var(--ygm-color-white);
    --background-color: var(--color);
    --border-color: var(--color);
    &.#{$class-prefix-button}-fill-outline {
      --text-color: var(--color);
      --background-color: transparent;
    }
    &.#{$class-prefix-button}-fill-none {
      --text-color: var(--color);
      --background-color: transparent;
      --border-width: 0px;
    }
  }

  &-primary {
    --color: var(--ygm-color-primary);
  }
  &-success {
    --color: var(--ygm-color-success);
  }
  &-danger {
    --color: var(--ygm-color-danger);
  }
  &-warning {
    --color: var(--ygm-color-warning);
  }

  &-small {
    padding: var(--small-button-padding);
    font-size: var(--ygm-font-size-m);
  }

  &-middle {
    padding: var(--middle-button-padding);
  }

  &-large {
    padding: var(--large-button-padding);
    font-size: var(--ygm-font-size-xl);
  }

  &-shape-rounded {
    border-radius: 1000px;
  }

  &-shape-rectangular {
    border-radius: 0;
  }

  &-loading-wrap {
    display: flex;
    height: 1.4em;
    align-items: center;
    justify-content: center;
    > .ygm-spinner-loading {
      opacity: 0.6;
    }
  }
}
