@import './variable.scss';

body {
  color: var(--ygm-color-text);
  font-size: var(--ygm-font-size-m);
  font-family: var(--ygm-font-family);
}

a,
button {
  cursor: pointer;
}

a {
  color: var(--ygm-color-primary);
  transition: opacity ease-in-out 0.2s;
}
a:active {
  opacity: 0.8;
}
