:root {
  // Color
  --ygm-color-primary: #1989fa;
  --ygm-color-success: #00b578;
  --ygm-color-warning: #ff8f1f;
  --ygm-color-danger: #ff3141;

  --ygm-color-white: #ffffff;
  --ygm-color-text: #333333;
  --ygm-color-weak: #999999;
  --ygm-color-light: #cccccc;
  --ygm-color-border: #eeeeee;
  --ygm-color-background: #ffffff;
  --ygm-color-box: #f5f5f5;

  // Padding
  --ygm-padding-xs: 4px;
  --ygm-padding-s: 8px;
  --ygm-padding-m: 12px;
  --ygm-padding-l: 16px;
  --ygm-padding-xl: 20px;
  --ygm-padding-xxl: 24px;

  // Border-radius
  --ygm-radius-xs: 4px;
  --ygm-radius-s: 6px;
  --ygm-radius-m: 8px;
  --ygm-radius-l: 10px;
  --ygm-radius-xl: 12px;
  --ygm-radius-xxl: 14px;
  --ygm-radius-xxxl: 16px;

  // Font
  --ygm-font-size-xs: 10px;
  --ygm-font-size-s: 12px;
  --ygm-font-size-m: 14px;
  --ygm-font-size-l: 16px;
  --ygm-font-size-xl: 18px;
  --ygm-font-size-xxl: 20px;
  --ygm-font-size-xxxl: 22px;

  --ygm-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto,
    'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
