$ygm-color-primary: #1677ff;
$ygm-color-success: #00b578;
$ygm-color-warning: #ff8f1f;
$ygm-color-danger: #ff3141;
$ygm-color-white: #ffffff;
$ygm-color-weak: #999999;
$ygm-color-light: #cccccc;
$ygm-border-color: #eeeeee;
$ygm-font-size-main: 14px;
$ygm-color-text: #333333;
