$ygm-color-primary: #0bafff;
$ygm-color-success: #00b578;
$ygm-color-warning: #ff8f1f;
$ygm-color-danger: #ff3141;
$ygm-color-white: #ffffff;
$ygm-color-weak: #999999;
$ygm-color-light: #cccccc;
$ygm-border-color: #eeeeee;
$ygm-color-text: #333333;

$ygm-font-size-small: 12px;
$ygm-font-size-medium: 14px;
$ygm-font-size-medium-x: 16px;
$ygm-font-size-large: 18px;
$ygm-font-size-large-x: 22px;
