.ygm-infinite-scroll {
  &-load {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: var(--ygm-font-size-m);
    color: var(--ygm-color-weak);
  }
}
