.demo-wrap {
  background-color: #eee;
  border-radius: 4px;
  width: 375px;
  border: 1px solid #dce1e5;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.demo-block-header {
  font-size: 14px;
  padding: 10px;
}

.demo-block-content {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
}
