@import '../../styles/variable.scss';

$class-prefix-error-block: 'ygm-error-block';

.#{$class-prefix-error-block} {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-image {
    height: 200px;
    width: 100%;

    & svg {
      height: 100%;
    }
  }

  &-description {
    font-size: $ygm-font-size-small;
    color: #999;
    line-height: 1.4;
    margin-top: 10px;
    &-title {
      font-size: $ygm-font-size-medium;
    }
    &-subtitle {
      margin-top: 8px;
    }
  }
}
