$class-prefix-mask: 'ygm-mask';

.#{$class-prefix-mask} {
  --z-index: 999;
  --background: rgba(0, 0, 0, 0.55);

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  width: 100%;
  height: 100%;
  display: block;
  background: var(--background);
  overflow: hidden;
}
