@import '../../styles/variable.scss';

$class-prefix-sidebar: 'ygm-sidebar';

.#{$class-prefix-sidebar} {
  --height: 100%;
  --width: 80px;
  --item-border-radius: 8px;
  --background-color: #f7f8fa;

  height: var(--height);
  font-size: $ygm-font-size-medium;
  display: flex;

  &-items {
    width: var(--width);
    box-sizing: border-box;
    overflow-y: auto;
  }

  &-content {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 16px 12px;
    background-color: $ygm-color-white;
  }

  &-item {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: var(--background-color);

    &-active {
      background-color: $ygm-color-white;
      position: relative;
    }
  }
}
